<div *ngIf="movie">
    
<div class="banner mb-5"  [style.backgroundImage]="'url(' + backgroundImage + ')'">
    <div class="caption">
        <h2 class="display-3">
            {{movie.original_title}}
        </h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
           <section class="py-5">
            <p>
                {{movie.overview}}
            </p>
           </section>
           <section class="trailers">
            <div class="row">
                <div class="col-md-6" *ngFor="let m of movietrailers" 
                (click)="runTrailer(m.key)">
                    {{m.name}}
                </div>
                <hr>
                <div class="col-md-8 offset-md-2">
                    <div *ngIf="trailerUrl" class="trailer-container">
                        <iframe [src]="trailerUrl" allowfullscreen></iframe>
                      </div>
                </div>
            </div>
           </section>
        </div>
    </div>
</div>
<!-- <p>
    {{movie | json}}
</p> -->

</div>